.os-modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.os-modal-body {
  background-color: black;
  width: 500px;
  min-height: 500px;
  position: relative;
  opacity: 1;
  border-radius: 10px;
  padding: 8px;
}

.os-close-modal {
  position: absolute;
  top: 4px;
  right: 16px;
  font-size: 2em;
}

.os-close-modal:hover {
  cursor: pointer;
}

@media (max-width: 480px) {
  .os-modal-body {
    width: 90%;
  }
}
